@model STrackerServer.Models.Season.SeasonView

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid center">
            <div class="box">
                <p><b>Season @Model.SeasonNumber</b></p>                
                <table class="table">
                    <tr>
                        <th>Number</th>
                        <th>Name</th>
                        <th>Link</th>
                    </tr>
        
                    @foreach(var episode in Model.EpisodeList)
                    {
                        <tr>
                            <td>
                                @episode.EpisodeNumber
                            </td>
                            <td>
                                @episode.Name
                            </td>
                            <td>
                                @Html.ActionLink("Link","Show","EpisodesWeb", new {})
                            </td>
                        </tr>  
                    }
                </table>
            </div>       
        </div>
</div>