@model dynamic

@{
    ViewBag.Title = "Development";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Developers Page</h2>

<h3>Links:</h3>

<h4>Tv Show</h4>

<ul>
    <li>
        <p>
            Walking Dead    : <a href="@Url.Action("Get","TvShow", new { id = "tt1520211"})"> Link </a> 
        </p>  
    </li>
    <li>
        <p>
            Walking Dead API: <a href="/api/tvshows/tt1520211">Link</a>
        </p>
    </li>
</ul> 

<h4>Seasons</h4>

<ul>
    
    @for (var i = 1; i < 3; i++)
    {
             
            <li>
                 <p>
                     Season @i       : <a href="@Url.Action("Get","Season", new { tvshowId = "tt1520211", number = i})"> Link </a> 
                 </p>  
             </li>
            
            <li>
                 <p>
                     Season @i     API: <a href="/api/tvshows/tt1520211/seasons/@i"> Link </a> 
                 </p>  
             </li>
     }
</ul> 

<h4>Episodes</h4>

<ul>
    
    @for (var i = 1; i < 3; i++ )
    {
        for (var j = 1; j < 3; j++)
         {
             
            <li>
                 <p>
                     Episode @j S-@i    : <a href="@Url.Action("Get","Episode", new { tvshowId = "tt1520211", seasonnumber = i, number = j})"> Link </a> 
                 </p>  
             </li>
            
            <li>
                 <p>
                     Episode @j S-@i API: <a href="/api/tvshows/tt1520211/seasons/@i/episodes/@j"> Link </a> 
                 </p>  
             </li>
         }
    }
</ul> 