@model STrackerServer.Models.User.UserPrivateView

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div style="text-align: center">
                <img class="img-rounded" src="@Model.PictureUrl" alt="No Artwork"/>
            </div> 
            
            
            <div class="extra-padding">
                <div class="box">
                    <a>Friends</a>
                </div>
            </div>       
        </div>
        <div class="span6">        
            <div class="box">
                <h2>Subscriptions</h2>
                <br/>
                <table class="table">
                    
                    <tr>
                        <td>
                            Name
                        </td>
                        <td>
                        </td>
                    </tr>
                    @foreach(var sub in Model.SubscriptionList)
                    {
                        <tr>
                            <td>
                                @sub.Name
                            </td>
                            <td>
                                @using (Html.BeginForm("UnSubscribe", "UsersWeb", new { tvshowId = sub.Id }))
                                {
                                    <input class="btn-link" type="submit" value="Unsubscribe"/>
                                }
                            </td>
                        </tr>  
                    }
                </table>
            </div>     
        </div>
    </div>
</div>