@model STrackerServer.Models.User.UserView

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid">
  <div class="row-fluid">
      <div class="span6">
          name: @Html.DisplayFor(m => m.Name)
          <br/>
          email: @Html.DisplayFor(m => m.Email)
      </div>
  </div>
</div>
