body {
    padding-top: 60px;
    background-image: url(/Content/images/debut_dark.png);
    color: whitesmoke;
    font-family: sans-serif;
    text-align:justify;
    text-justify:inter-word;
    word-wrap: break-word;
} 

.center {
    text-align: center
}

.nav-list .black-divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: black;
  border-bottom: 1px solid grey;
}

.box {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    border: 1px solid dodgerblue;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.1);
}

.icon-actor {
    height: 132px;
    width: 96px;
    min-height: 132px;
    min-width: 96px;
}

.extra-padding {
    padding-top: 15px;
}

.comments-textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.box-whiter {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    border: 1px solid dodgerblue;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.10);
}

.extra-padding-left {
    padding-left: 45px;
}

.stracker-breadcrumb {

  margin: 0 0 20px;
  list-style: none;
  background-color: transparent;
  border-color: midnightblue;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.stracker-breadcrumb > li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  
}

.stracker-breadcrumb > li > .divider {
  padding: 0 5px;
  color: #ccc;
}

.stracker-breadcrumb > .active {
  color: #999999;
}

.season {
    
}