
@model STrackerServer.Models.TvShow.TvShowCreateComment

@{
    ViewBag.Title = "Create Comment";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <img class="img-rounded" src="@Model.Poster" alt="No Artwork"/>  

            <div class="extra-padding"></div>
            <p>
                <a class="btn btn-block btn-primary" href="@Url.Action("Comments","TvShows", new { id = Model.TvShowId })">Comments</a>
            </p> 
        </div> 
        <div class="span6">
            <div class="box">
                <h2 class="center">Create Comment</h2>
            </div>
            
            <div class="box">
                
                <div class="alert-error">
                    @Html.ValidationSummary()  
                </div>     
                @using (Html.BeginForm("CreateComment", "TvShows"))
                {
                    @Html.HiddenFor(comment => comment.TvShowId)
                    <textarea class="btn-block comments-textarea" id="Body" name="Body"></textarea>
                    <input class="btn btn-primary" type="submit" value="Add Comment"/>
                }   
            </div>
        </div>
    </div>
</div>