@model STrackerServer.Models.TvShow.TvShowSearchResult

@{
    ViewBag.Title = "Search Result";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid center">
    @{
        for (var i = 0; i < Math.Ceiling(Model.Result.Count / (double)6); i++)
        {
            <div class="row-fluid">
                @for (var index = 6*i; (index < (6 * (i+1))) && index < Model.Result.Count; index++)
                {
                    <div class="span2" style="text-align: center">
                        <div class="box-whiter blue-border">
                            <div class="row-fluid">
                                <a href="@Url.Action("Index", "TvShows", new { id = @Model.Result.ElementAt(index).Id })">
                                    <img src="@Model.Result.ElementAt(index).Poster" alt="No Image"/>
                                </a>
                            </div>
                        </div>
                    </div>
                }     
            </div>
        }
    }
</div>
