@model STrackerServerDatabase.Models.Episode

@{
    ViewBag.Title = "Episode " + Model.Number;
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Episode @Model.Number</h2>

@Html.DisplayForModel(Model)