@model STrackerServer.Models.Season.Options.SeasonOptions

<img class="img-rounded" src="@Model.Poster" alt="No Artwork"/>  

<div class="extra-padding"></div> 

<p>
    <a class="btn btn-block btn-primary" href="@Url.Action("Show","TvShowsWeb", new { tvshowId = Model.TvShowId })">@Model.TvShowName</a>
</p> 
