@model STrackerServer.Models.Genre.SimilarTvShowsView

@for (var i = 0; i < Math.Ceiling(Model.TvShows.Count / (double)6); i++)
{
    <div class="row-fluid">
        @for (var index = 6 * i; (index < (6 * (i + 1))) && index < Model.TvShows.Count; index++)
        {
            <div class="span2" style="text-align: center">
                <div class="box-whiter blue-border">
                    <div class="row-fluid">
                        <a href="@Url.Action("Index", "TvShows", new { id = @Model.TvShows.ElementAt(index).Id })">
                            <img src="@Model.TvShows.ElementAt(index).Poster" alt="No Image"/>
                        </a>
                    </div>
                </div>
            </div>
        }     
    </div>
}