@model STrackerServer.Models.Partial.TvShowCreateCommentOptions

<img class="img-rounded" src="@Model.Poster" alt="No Artwork"/>  

<div class="extra-padding">
    <p>
        <a class="btn btn-block btn-primary" href="@Url.Action("Comments","TvShowsWeb", new { tvshowId = Model.TvShowId })">Comments</a>
    </p> 
</div>
