<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--MongoLAB Settings-->
    <add key="MongoDBURL" value="mongodb://STrackerServer:stracker_admin@ds057857.mongolab.com:57857/appharbor_1e0e7e03-49be-42e9-b656-8f3c64ab59f0" />
    <!--Immutable collections names-->
    <add key="RatingsCollection" value="Ratings" />
    <add key="CommentsCollection" value="Comments" />
    <add key="UsersCollection" value="Users" />
    <add key="GenresCollection" value="Genres" />
    <add key="AllTvShowsCollection" value="TvShows" />
    <add key="NewestEpisodes" value="NewestEpisodes"/>
    <!--Facebook Settings-->
    <add key="Facebook:Key" value="537594466303574" />
    <add key="Facebook:Secret" value="7b9a3c379ac98f0403d1a4500dc86bd0" />
    <!--RabbitMQ Settings-->
    <add key="RabbitMQUri" value="amqp://zzlregsv:tgZCvZgYDRB-PkIllxsdM-6Mxq8m9pyt@bunny.cloudamqp.com/zzlregsv" />
    <!--Commands names-->
    <add key="TvShowCommentCmd" value="tvShowCommentAdd" />
    <add key="EpisodeCommentCmd" value="episodeCommentAdd" />
    <add key="TvShowAddByIdCmd" value="id" />
    <add key="TvShowAddByNameCmd" value="name" />
    <!--STracker Settings-->
    <add key="RatingMinValue" value="1" />
    <add key="RatingMaxValue" value="5" />
    <add key="MaxTopRatedTvShows" value="8" />
  </appSettings>
</configuration>