<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--MongoLAB Settings-->
    <add key="MongoDBURL" value="mongodb://appharbor_e9cb9a23-2526-46a6-aeed-6c77be457d7e:mag1ljsai9c9fl7c7fphdq72eb@ds043158.mongolab.com:43158/strackertestingdb" />
    <add key="DatabaseName" value="strackertestingdb" />
    <!--Immutable collections names-->
    <add key="RatingsCollection" value="Ratings" />
    <add key="CommentsCollection" value="Comments" />
    <add key="UsersCollection" value="Users" />
    <add key="UsersSynopsisCollection" value="Users-Synopsis" />
    <add key="GenresCollection" value="Genres" />
    <add key="GenresSynopsisCollection" value="Genres-Synopsis" />
    <add key="AllTvShowsCollection" value="TvShows" />
    <add key="TvShowNewEpisodesCollection" value="NewEpisodes" /> 
    <!--Commands names-->
    <add key="TvShowCommentCmd" value="tvShowCommentAdd" />
    <add key="EpisodeCommentCmd" value="episodeCommentAdd" />
    <add key="TvShowAddByIdCmd" value="id" />
    <add key="TvShowAddByNameCmd" value="name" />
    <!--STracker Settings-->
    <add key="RatingMinValue" value="1" />
    <add key="RatingMaxValue" value="5" />
    <add key="MaxTopRatedTvShows" value="5" />
    <!--SendGrid Settings-->
    <add key="STracker:Email" value="strackerdev@gmail.com" />
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp from="logger@stracker.com">
        <network host="smtp.sendgrid.net" password="d85zemqe" userName="2ede5185-4fe2-4e38-81a5-7b7b6d905990@apphb.com" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>