<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--MongoLAB Settings-->
    <add key="MongoDBURL" value="mongodb://STrackerServer:stracker_admin@ds057857.mongolab.com:57857/appharbor_1e0e7e03-49be-42e9-b656-8f3c64ab59f0" />
    <!--RabbitMQ Settings-->
    <add key="RabbitMQUri" value="amqp://zzlregsv:tgZCvZgYDRB-PkIllxsdM-6Mxq8m9pyt@bunny.cloudamqp.com/zzlregsv" />
  </appSettings>
</configuration>