@model dynamic

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
   
<div class="row center">
    <h4>Search for television shows</h4>
        @using (Html.BeginForm("GetByName", "TvShowsWeb", FormMethod.Get))
        {
            <input type="text" name="name" class="input-xxlarge search-query" />
        }
</div>