@model STrackerServer.Models.Home.HomeView

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="row center">
                @using (Html.BeginForm("GetByName", "TvShowsWeb", FormMethod.Get))
                {
                    <input type="text" name="name" class="input-xxlarge search-query" />
                    <button type="submit" class="btn btn-primary"><b class="icon-search"></b></button>
                }
            </div>
        </div>
    </div>
</div>



