@model dynamic

@{
    ViewBag.Title = "STracker";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Welcome to STracker!</h2>
<h3>...under construction...</h3>

<a href="@Url.Action("Get", "Developers")">Developers Page</a>