@{
    ViewBag.Title = "STracker Home";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>STracker Home</h2>

<div>
    @Html.ActionLink("See example in HTML","Get","TvShow", new {tvshowId = 1}, null)
    <br/>
    @Html.ActionLink("See example in JSON","JsonGet","TvShow", new {tvshowId = 1}, null)
</div>

