@{
    ViewBag.Title = "STracker Home";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>STracker Home</h2>

<div>
    @Html.ActionLink("See tv show example in HTML","Get","TvShow", new {tvshowId = "tt1520211", format = "html"}, null)
    <br/>
    @Html.ActionLink("See tv show example in JSON","Get","TvShow", new {tvshowId = "tt1520211", format = "json"}, null)
    <br/>
    @Html.ActionLink("See season example in HTML","Get","Season", new {tvshowId = "tt1520211", seasonNumber = 1, format = "html"}, null)
    <br/>
    @Html.ActionLink("See season example in JSON","Get","Season", new {tvshowId = "tt1520211", seasonNumber = 1, format = "json"}, null)
</div>

